// colors
$bg-color: #000;
$logo-color: #fff;

html,
body {
  width: 100%;
  height: 100%;
  background: $bg-color;
  overflow: hidden;

  * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;

    &:before,
    &:after {
      content: "";
      position: absolute;
    }
  }
}

.j {
  width: 10.2vmin;
  height: 12.8vmin;
  background: $logo-color;
  top: -3.9vmin;
  left: -45.2vmin;
  transform: rotate(9deg) skewY(-11deg);
  border-radius: 0 0 5vmin 6vmin;

  &::before {
    width: 3.7vmin;
    height: 10.5vmin;
    background: $bg-color;
    top: -0.65vmin;
    left: 3.4vmin;
    border-radius: 0 0 1.5vmin 1.9vmin;
  }

  &::after {
    width: 8.4vmin;
    height: 10vmin;
    background: $bg-color;
    top: -0.5vmin;
    left: -3vmin;
    transform: rotate(-25deg);
    border-radius: 0 0 4vmin 0;
  }
}

.o {
  width: 14vmin;
  height: 12vmin;
  background: $logo-color;
  top: -6.4vmin;
  left: -18.4vmin;
  transform: skewY(-13deg);
  border-radius: 50%;

  &::before {
    width: 7.4vmin;
    height: 6.5vmin;
    background: $bg-color;
    top: 2.8vmin;
    left: 3.3vmin;
    border-radius: 50%;
  }
}

.m {
  width: 3.1vmin;
  height: 12.5vmin;
  background: $logo-color;
  top: -8.2vmin;
  transform: rotate(9deg) skewY(-11deg);
  box-shadow: 10.6vmin -0.8vmin 0 0 $logo-color;

  &::before {
    width: 9.7vmin;
    height: 11vmin;
    background: $logo-color;
    top: -2.7vmin;
    left: 2.1vmin;
    transform: rotate(45deg) skewX(15deg) skewY(15deg);
    border-radius: 7vmin 0 0 1vmin;
  }

  &::after {
    width: 6.7vmin;
    height: 7.5vmin;
    background: $bg-color;
    top: -4.45vmin;
    left: 3.4vmin;
    transform: rotate(45deg) skewX(13deg) skewY(14deg);
  }
}

.l {
  width: 2.8vmin;
  height: 11vmin;
  background: $logo-color;
  top: 23.3vmin;
  left: -48.7vmin;
  transform: rotate(9deg) skewY(-11deg);

  &::before {
    width: 2.8vmin;
    height: 5.5vmin;
    background: $logo-color;
    top: 6.8vmin;
    left: 3.5vmin;
    transform: rotate(88deg) skewY(2deg) skewX(-1deg);
  }
}

.a {
  width: 0;
  height: 0;
  border-left: 6vmin solid transparent;
  border-right: 5.9vmin solid transparent;
  border-bottom: 10.8vmin solid $logo-color;
  top: 20.8vmin;
  left: -22.4vmin;
  transform: rotate(9deg) skewY(-14deg);

  &::before {
    width: 0;
    height: 0;
    border-left: 1.2vmin solid transparent;
    border-right: 1.2vmin solid transparent;
    border-bottom: 2.5vmin solid $bg-color;
    top: 4.9vmin;
    left: -1.3vmin;
  }

  &::after {
    height: 0;
    width: 4.8vmin;
    border-bottom: 1.1vmin solid $bg-color;
    border-left: 0.6vmin solid transparent;
    border-right: 0.5vmin solid transparent;
    top: 9.9vmin;
    left: -3.1vmin;
  }
}

.u {
  width: 9vmin;
  height: 11vmin;
  background: $logo-color;
  top: 18.5vmin;
  left: -2.9vmin;
  transform: rotate(9deg) skewY(-13deg);
  border-radius: 0 0 4.5vmin 4vmin;

  &::before {
    width: 3.5vmin;
    height: 8.8vmin;
    background: $bg-color;
    top: -0.2vmin;
    left: 2.8vmin;
    border-radius: 0 0 4.5vmin 4vmin;
  }

  &::after {
    width: 3.5vmin;
    height: 1.1vmin;
    background: $bg-color;
    top: -0.9vmin;
    left: -0.2vmin;
  }
}

.n {
  width: 2.8vmin;
  height: 11vmin;
  background: $logo-color;
  top: 17vmin;
  left: 11.8vmin;
  transform: rotate(9deg) skewY(-14deg);
  box-shadow: 7.2vmin -0.1vmin 0 0 $logo-color;

  &::before {
    width: 2.8vmin;
    height: 11.5vmin;
    background: $logo-color;
    top: -0.3vmin;
    left: 3.6vmin;
    transform: rotate(-34deg);
    border-radius: 0 0.2vmin 0 0.3vmin;
  }
}

.c {
  width: 6.8vmin;
  height: 5.6vmin;
  background: $bg-color;
  top: 13.8vmin;
  left: 44.2vmin;
  transform: rotate(-9deg) skewY(-11deg);
  border-radius: 50%;
  box-shadow: -0.2vmin -0.1vmin 0 2.45vmin $logo-color;

  &::before {
    width: 5vmin;
    height: 6.5vmin;
    background: $bg-color;
    top: -0.5vmin;
    left: 5.9vmin;
    transform: rotate(50deg);
  }

  &::after {
    width: 4vmin;
    height: 4vmin;
    background: $bg-color;
    top: 3.8vmin;
    left: 4.9vmin;
    transform: rotate(-18deg);
  }
}

.h {
  width: 2.8vmin;
  height: 11vmin;
  background: $logo-color;
  top: 12.5vmin;
  left: 56.3vmin;
  transform: rotate(9deg) skewY(-14deg);
  box-shadow: 6.2vmin -0.1vmin 0 0 $logo-color;

  &::before {
    width: 5vmin;
    height: 2.6vmin;
    background: $logo-color;
    top: 5.4vmin;
    left: 2vmin;
  }
}

.rocket {
  &-1 {
    width: 11vmin;
    height: 5vmin;
    background: $logo-color;
    top: -30.6vmin;
    left: 64vmin;
    transform: rotate(-37deg) skewX(30deg) skewY(8deg);
    border-radius: 0 100% 0 100%;

    &::before {
      width: 11vmin;
      height: 5vmin;
      background: $logo-color;
      top: 2.7vmin;
      left: -2.3vmin;
      transform: rotate(16.8deg) skewX(-37.5deg);
      border-radius: 100% 0 100% 0;
    }

    &::after {
      width: 7vmin;
      height: 4vmin;
      background: $logo-color;
      top: 1.2vmin;
      left: -1.2vmin;
      transform: rotate(10deg);
    }
  }

  &-2 {
    width: 2.8vmin;
    height: 2.8vmin;
    background: $bg-color;
    top: -26.2vmin;
    left: 59.8vmin;
    border-radius: 50%;

    &::before {
      width: 2.05vmin;
      height: 2.05vmin;
      background: $bg-color;
      top: -0.95vmin;
      left: 3.6vmin;
      border-radius: 50%;
    }
  }

  &-3 {
    width: 3vmin;
    height: 4vmin;
    background: $logo-color;
    top: -18.1vmin;
    left: 54.5vmin;
    transform: rotate(30deg);
    border-radius: 0 0 0.2vmin 1vmin;

    &::before {
      width: 3vmin;
      height: 4vmin;
      background: $logo-color;
      top: -3.55vmin;
      left: -4.3vmin;
      transform: rotate(76deg);
    }

    &::after {
      width: 7vmin;
      height: 2.5vmin;
      background: $logo-color;
      top: 0vmin;
      left: -4.2vmin;
      transform: rotate(40deg);
    }
  }

  &-4 {
    width: 4.9vmin;
    height: 1.5vmin;
    background: $logo-color;
    top: -12.9vmin;
    left: 50.7vmin;
    transform: rotate(-22deg) skewX(-22deg);
    border-radius: 0 0 0.1vmin 0;

    &::before {
      width: 2.8vmin;
      height: 1vmin;
      background: $logo-color;
      top: -0.3vmin;
      left: 0.1vmin;
      transform: rotate(-12deg);
    }

    &::after {
      width: 1.2vmin;
      height: 2.2vmin;
      background: $logo-color;
      top: -2vmin;
      left: 2.1vmin;
    }
  }

  &-5 {
    width: 5.1vmin;
    height: 1.5vmin;
    background: $logo-color;
    top: -29.6vmin;
    left: 44vmin;
    transform: rotate(-21deg) skewX(20deg);
    border-radius: 0 0.1vmin 0 0;

    &::before {
      width: 2.8vmin;
      height: 1vmin;
      background: $logo-color;
      top: 0.9vmin;
      left: 0.1vmin;
      transform: rotate(15deg);
    }

    &::after {
      width: 1.5vmin;
      height: 2.2vmin;
      background: $logo-color;
      top: 1.5vmin;
      left: 2.2vmin;
    }
  }

  &-6 {
    width: 3.3vmin;
    height: 3.3vmin;
    background: $logo-color;
    top: -20.8vmin;
    left: 46.4vmin;
    transform: rotate(70deg);
    border-radius: 0 0 44% 44%;

    &::before {
      width: 1vmin;
      height: 3vmin;
      background: $logo-color;
      top: -0.1vmin;
      left: -0.2vmin;
      transform: rotate(-18deg);
      border-radius: 0 0 0 1vmin;
    }

    &::after {
      width: 1vmin;
      height: 3vmin;
      background: $logo-color;
      top: -0.2vmin;
      left: 2.5vmin;
      transform: rotate(15deg);
      border-radius: 0 0 0.8vmin 0;
    }
  }
}

.line {
  &-1 {
    width: 2vmin;
    height: 2vmin;
    background: $logo-color;
    top: 10.3vmin;
    left: -60.7vmin;
    border-radius: 50%;

    &::before {
      width: 5.1vmin;
      height: 1.1vmin;
      background: $logo-color;
      top: 4.6vmin;
      left: -2.4vmin;
      transform: rotate(-23deg);
      border-radius: 1vmin;
    }

    &::after {
      width: 13.2vmin;
      height: 1.1vmin;
      background: $logo-color;
      top: 8.4vmin;
      left: -9vmin;
      transform: rotate(-22deg);
      border-radius: 1vmin;
    }
  }

  &-2 {
    width: 6vmin;
    height: 1vmin;
    background: $bg-color;
    top: 18vmin;
    left: -48vmin;
    transform: rotate(-22deg);
    border-radius: 1vmin;

    &::before {
      width: 5.1vmin;
      height: 1vmin;
      background: $logo-color;
      left: 7.6vmin;
      border-radius: 1vmin;
    }

    &::after {
      width: 29vmin;
      height: 0.9vmin;
      background: $bg-color;
      left: 14.5vmin;
      border-radius: 1vmin;
    }
  }

  &-3 {
    width: 3.5vmin;
    height: 0.9vmin;
    background: $bg-color;
    top: -16.8vmin;
    left: 24vmin;
    transform: rotate(-22deg);
    border-radius: 1vmin;

    &::before {
      width: 4.3vmin;
      height: 0.9vmin;
      background: $logo-color;
      left: 4.5vmin;
      border-radius: 1vmin;
    }

    &::after {
      width: 6.5vmin;
      height: 0.9vmin;
      background: $logo-color;
      top: 2.6vmin;
      left: 3.2vmin;
      border-radius: 1vmin;
    }
  }

  &-4 {
    width: 1.8vmin;
    height: 1.8vmin;
    background: $logo-color;
    top: -11.6vmin;
    left: 40.1vmin;
    border-radius: 50%;

    &::before {
      width: 2vmin;
      height: 0.9vmin;
      background: $logo-color;
      top: 4.6vmin;
      left: -0.9vmin;
      transform: rotate(-22deg);
      border-radius: 1vmin;
    }

    &::after {
      width: 4vmin;
      height: 0.9vmin;
      background: $logo-color;
      top: 5.9vmin;
      left: -5.1vmin;
      transform: rotate(-22deg);
      border-radius: 1vmin;
    }
  }
}
